{% doc %}
  Footer commitment / sustainability page links.
{% enddoc %}

<nav class="unionbay-footer-commitments" aria-label="{{ 'unionbay.commitments_nav' | t }}">
  <ul class="unionbay-footer-commitments__list list-unstyled">
    <li>
      <a href="/pages/commitment" class="unionbay-footer-commitments__btn">
        {{ 'unionbay.commitment' | t }}
      </a>
    </li>
    <li>
      <a href="/pages/ethics" class="unionbay-footer-commitments__btn">
        {{ 'unionbay.ethics' | t }}
      </a>
    </li>
    <li>
      <a href="/pages/organic-cotton" class="unionbay-footer-commitments__btn">
        {{ 'unionbay.organic_cotton' | t }}
      </a>
    </li>
    <li>
      <a href="/pages/recycled-polyester" class="unionbay-footer-commitments__btn">
        {{ 'unionbay.recycled_polyester' | t }}
      </a>
    </li>
    <li>
      <a href="/pages/responsible-sourcing" class="unionbay-footer-commitments__btn">
        {{ 'unionbay.responsible_sourcing' | t }}
      </a>
    </li>
    <li>
      <a href="/pages/less-waste" class="unionbay-footer-commitments__btn">
        {{ 'unionbay.less_waste' | t }}
      </a>
    </li>
  </ul>
</nav>
